.container__whatsapp__myChat {
  height: 95vh;
  padding: 0;
}
.container__whatsapp__myChat__header {
  height: 4rem;
  background-color: rgb(237, 237, 237);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__whatsapp__myChat__header__imgUserLine {
  display: flex;
}
.container__whatsapp__myChat__header__imgUserLine-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 25px;
}
.container__whatsapp__myChat__header__imgUserLine__userLine {
  margin-left: 1rem;
}
.container__whatsapp__myChat__header__imgUserLine__userLine-line {
  color: rgb(135, 135, 136);
}
.container__whatsapp__myChat__header-search {
  width: 2rem;
  height: 2rem;
}
.container__whatsapp__myChat__fondo {
  height: 81%;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container__whatsapp__myChat__barraChats {
  display: flex;
  height: 4rem;
  background-color: rgb(237, 237, 237);
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
}
.container__whatsapp__myChat__barraChats-emoji {
  width: 2rem;
  height: 2rem;
}
.container__whatsapp__myChat__barraChats-document {
  width: 2rem;
  height: 2rem;
}
.container__whatsapp__myChat__barraChats__formulario-input {
  width: 52rem;
  height: 2.5rem;
  border: none;
  border-radius: 15px;
}
.container__whatsapp__myChat__barraChats-send {
  width: 2rem;
  height: 2rem;
}

.container__whatsapp__myContacts__header {
  height: 4rem;
  width: 90vw;
  display: flex;
  background-color: rgb(237, 237, 237);
  padding-left: 1rem;
  align-items: center;
}
.container__whatsapp__myContacts__header-user {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 30px;
}
.container__whatsapp__myContacts__barraSearch {
  display: flex;
  height: 4rem;
  width: 90vw;
  background-color: rgb(243, 243, 243);
  align-items: center;
}
.container__whatsapp__myContacts__barraSearch-search {
  width: 2rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 15px 0 0 15px;
  margin-left: 1rem;
}
.container__whatsapp__myContacts__barraSearch__formulario-input {
  border: none;
  height: 2.5rem;
  width: 27rem;
  border-radius: 0 15px 15px 0;
  padding-left: 1rem;
}
.container__whatsapp__myContacts__cardContact {
  border-bottom: 1px solid rgb(237, 237, 237);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.container__whatsapp__myContacts__cardContact-imagen {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 30px;
}
.container__whatsapp__myContacts__cardContact__text__nameDate {
  width: 26rem;
  display: flex;
  justify-content: space-between;
}
.container__whatsapp__myContacts__cardContact__text__nameDate-name {
  padding-left: 1rem;
}
.container__whatsapp__myContacts__cardContact__text__nameDate-date {
  color: rgb(135, 135, 136);
}
.container__whatsapp__myContacts__cardContact__text__imgText {
  display: flex;
  align-items: center;
}
.container__whatsapp__myContacts__cardContact__text__imgText-img {
  width: 2.5rem;
  height: 2.5rem;
}
.container__whatsapp__myContacts__cardContact__text__imgText-text {
  color: rgb(135, 135, 136);
}

.container__whatsapp__changeImagen {
  display: none;
  background-color: rgb(237, 237, 237);
  padding: 0;
}
.container__whatsapp__changeImagen__header {
  height: 8rem;
  width: 100%;
  background-color: rgb(0, 168, 132);
  display: flex;
  align-items: flex-end;
}
.container__whatsapp__changeImagen__header__imgPerfil {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 1rem;
}
.container__whatsapp__changeImagen__header__imgPerfil-arrow {
  width: 1.5rem;
  height: 1.5rem;
}
.container__whatsapp__changeImagen__header__imgPerfil-perfil {
  padding-left: 0.5rem;
  color: white;
  font-size: 1.4rem;
}
.container__whatsapp__changeImagen__body {
  flex-direction: column;
}
.container__whatsapp__changeImagen__body__img {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__whatsapp__changeImagen__body__img-img {
  position: absolute;
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__whatsapp__changeImagen__body__img-Imgtext {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__whatsapp__changeImagen__body__img-Imgtext__text {
  color: white;
  padding-top: 0.5rem;
}
.container__whatsapp__changeImagen__body__data {
  padding-left: 1rem;
  background-color: white;
}
.container__whatsapp__changeImagen__body__data__formulario label {
  color: rgb(135, 135, 136);
  font-weight: bold;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}
.container__whatsapp__changeImagen__body__data__formulario__nameImg {
  display: flex;
  height: 3rem;
  align-items: center;
}
.container__whatsapp__changeImagen__body__data__formulario__nameImg-name {
  width: 92%;
  border: none;
  font-weight: bold;
}
.container__whatsapp__changeImagen__body__data__formulario__nameImg-img {
  width: 2rem;
  height: 2rem;
}

.container__whatsapp__infoMesagge {
  background-color: rgb(237, 237, 237);
  height: 95vh;
}
.container__whatsapp__infoMesagge__header {
  display: flex;
  margin: 0.5rem;
  align-items: center;
}
.container__whatsapp__infoMesagge__header-title {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.container__whatsapp__infoMesagge__search {
  display: flex;
  align-items: center;
}
.container__whatsapp__infoMesagge__search-search {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 15px 0 0 15px;
}
.container__whatsapp__infoMesagge__search__formulario-input {
  width: 26rem;
  border: none;
  height: 2rem;
}
.container__whatsapp__infoMesagge__search-closeIcon {
  width: 2rem;
  height: 2rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0 15px 15px 0;
}
.container__whatsapp__infoMesagge__cardInfo {
  margin-top: 1rem;
  height: 7rem;
  background-color: white;
}
.container__whatsapp__infoMesagge__cardInfo-date {
  color: rgb(135, 135, 136);
}
.container__whatsapp__infoMesagge__cardInfo__infoMessage {
  display: flex;
}
.container__whatsapp__infoMesagge__cardInfo__infoMessage-check {
  width: 2.5rem;
  height: 2.5rem;
}
.container__whatsapp__infoMesagge__cardInfo__infoMessage-message {
  width: 91%;
  overflow: hidden;
}

body {
  margin: 1rem;
}

/*# sourceMappingURL=style.css.map */
